<%- include('partial/_header') %> 
<%- include('partial/_nav')  %> 
<%- include('partial/_section')  %> 

<div class="flex-grow p-10 bg-indigo-700 border-2 rounded-md border-indigo-300 w-full flex flex-col">
    <a href="/inaktif" class=" bg-indigo-100 text-indigo-600 rounded-md w-40 text-center p-2 mb-6">Tambah Data</a>
    
    <%- include('partial/_table')  %> 
</div>

<%- include('partial/_footer')  %> 