<div class="w-full bg-indigo-500 bg-opacity-80 px-14 py-8  rounded border-l-4 border-indigo-300 shadow-lg">
    <form action="" method="POST" class=" grid grid-cols-2 gap-4">
        <div class=" px-8 ">
            <label for="" class="t_label">No Arsip</label>
            <input type="text" name="No_Arsip" class="t_input" placeholder="No Arsip" value="<%=data.No_Arsip%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="">Tanggal Input</label>
            <input type="date" name="Tanggal_Input" class="t_input" value="<%=data.Tanggal_Input%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="">Pencipta Arsip</label>
            <input type="text" name="Author" class="t_input" placeholder="Pencipta Arsip" value="<%=data.Author%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="">Kode Klasifikasi</label>
            <input type="text" name="Kode_Klasifikasi" class="t_input" placeholder="Kode Klasifikasi" value="<%=data.Kode_Klasifikasi%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="">Unit Pengolah</label>
            <input type="text" name="Unit_Pengolah" class="t_input" placeholder="Unit Pengolah" value="<%=data.Unit_Pengolah%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="">Bulan / Tahun</label>
            <div class="flex">
                <input type="text" name="Bulan" class="t_input w-1/4" placeholder="Bulan" value="<%=data.Bulan%>">
                <input type="text" name="Tahun" class="t_input w-1/5 ml-5" placeholder="Tahun" value="<%=data.Tahun%>">
            </div>
        </div>
        <div class="px-8">
            <label class="t_label" for="">Kelengkapan</label>
            <input type="text" name="Kelengkapan" class="t_input" placeholder="Kelengkapan" value="<%=data.Kelengkapan%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="">Jenis Media</label>
            <input type="text" name="Media" class="t_input" placeholder="Media" value="<%=data.Media%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="">Lokasi Arsip</label>
            <input type="text" name="Lokasi_Arsip" class="t_input" placeholder="Lokasi Arsip" value="<%=data.Lokasi_Arsip%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="">Tingkat Perkembangan</label>
            <select name="Tingkat_Perkembangan" id="" class="t_input">
                <option value="Asli">Asli</option>
                <option value="Tembusan">Tembusan</option>
                <option value="Fotocopy">Fotocopy</option>
            </select>
        </div>
        <div class="px-8">
            <label class="t_label" for="">Nomor Boks</label>
            <input type="text" name="Boks" class="t_input" placeholder="Nomor Boks" value="">
        </div>
        <div class="px-8">
            <label class="t_label" for="">File</label>
            <input type="file" name="File" class="t_input" class="<%=data.File%>">
        </div>
        <div class="px-8 col-span-2">
            <label class="t_label" for="">Uraian</label>
            <textarea type="text" name="Uraian" class="t_input" style="min-height: 25vh;" placeholder="Uraian" value="<%=data.Uraian%>"></textarea>
        </div>
        <input type="text" value="<%=data._id%>" class="hidden" name="id">
        <div class="col-span-2 flex items-center justify-center mt-4">
            <input type="submit" class="w-36 h-10 rounded-md bg-indigo-200 border-2 border-indigo-600 hover:bg-indigo-800 hover:text-white font-bold text-indigo-900" value="Submit">
        </div>
    </form>
</div>