
<div class="">
        <table class="text-white text-center">
            <thead class="">
                <tr>
                    <th>Action</th>
                    <th>No</th>
                    <th>No Arsip</th>
                    <th>Tanggal Input</th>
                    <th>Kode Klasifikasi</th>
                    <th>Bulan</th>
                    <th>Tahun</th>
                    <th>Uraian</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((element,index) => { %>
                    <tr>
                        <td>
                            <div class="text-sm text-gray-900 grid place-items-center">
                                <a href="/inaktif/<%= element._id %> " class="w-7 h-7 bg-indigo-100 hover:bg-indigo-600 rounded-md grid place-items-center border border-indigo-900 hover:border-indigo-50 hover:text-indigo-100">
                                    <svg class="h-4 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                    </svg>
                                </a>
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg> -->
                            </div>
                        </td>
                        <td><%= index + 1%> </td>
                        <td><%= element.No_Arsip%> </td>
                        <td><%= element.Tanggal_Input %> </td>
                        <td><%= element.Kode_Klasifikasi %> </td>
                        <td><%= element.Properties.Bulan %></td>
                        <td><%= element.Properties.Tahun %>  </td>
                        <td class=""><%= element.Uraian%> </td>
                    </tr>
                <% }); %> 
            </tbody>
        </table>
</div>

<script>
    var datatable = new DataTable('table', {
// The other columns are defined directly in the HTML
});

let thead = document.querySelectorAll('th')
thead.forEach(el => {
    el.style.textAlign="center"
})
let tableBottom = document.querySelectorAll(['.dataTable-info ' , '.dataTable-top']).forEach(el => {
    el.style.color = "white"
})

let list = document.querySelector('.dataTable-selector').style.color = "blue"
let input = document.querySelector('.dataTable-input').style.color = "blue"

</script>